{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="author" content="asides@es.net">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "servicesDirectory/css/base.css" %}">
	{% block assets_pre %}{% endblock %}
	<!--[if lt IE 9]>
		<script src="{% static "js/html5shiv.js" %}"></script>
	<![endif]-->
</head>
<body>
	<div class="page-header" id="page-header">
	<div class="container-fluid"><div class="row">
		<div class="span3">
			<a href="http://www.perfsonar.net/">
				<img src="{% static "servicesDirectory/img/header.gif" %}" alt="perfSONAR Logo" class="img-polaroid header-image" id="header-image">
			</a>
		</div>
		<div class="span9">
			<div class="header-content">{% block header %}{% endblock %}</div>
		</div>
	</div></div>
	</div>
	<div class="page-content" id="page-content"><div class="container-fluid page-content-container">
		{% block content %}{% endblock %}
	</div></div>
	<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
	{% block assets_post %}{% endblock %}
</body>
</html>
