{% extends "servicesDirectory/base.html" %}

{% load staticfiles %}

{% block description %}Lookup Service Directory{% endblock %}

{% block title %}Lookup Service Directory{% endblock %}

{% block assets_pre %}
	<link rel="stylesheet" type="text/css" href="{% static "css/fancytree/skin-custom/ui.fancytree.css" %}">
	<style type="text/css">
		#browser-accordion { max-height: 100%; overflow: auto; }
		#info-accordion { max-height: 100%; overflow: auto; }
		#left-pane { padding-bottom: 10px; }
		#right-pane { padding-bottom: 10px; }
		#search { margin-right: 10px; margin-top: 10px; }
		.map-canvas { height: 600px; }
		.map-canvas img { max-width: none; }
		.map-canvas label { width: auto; display: inline; }
		.table { margin-bottom: 0px; }
		.table-info { max-height: 60px; overflow: auto; }
		.tree { height: 400px; }
		.tree-badge { background-color: #cccccc; margin-left: 10px; font-weight: normal; text-shadow: none; }
	</style>
{% endblock %}

{% block header %}<h3>Lookup Service Directory</h3>{% endblock %}

{% block content %}
		<div class="row-fluid fill-vertical">
			<div class="span3 fill-vertical" id="left-pane">
				<div class="accordion" id="browser-accordion">
					<div class="accordion-group content-group" id="search-section">
						<div class="accordion-heading">
							<a class="accordion-toggle content-toggle" data-toggle="collapse" href="#collapse-search">
								<h4 class="content-header">Search</h4>
							</a>
						</div>
						<div class="accordion-body collapse in" id="collapse-search">
							<div class="content">
								<span class="info muted">Further refine results by text matching across multiple fields.</span>
								<span><a class="btn-link" data-toggle="modal" role="button" href="#text-filter-info">
									<span class="icon-info-sign"></span>
								</a></span><br>
								<input type="search" id="search">
								<button type="button" class="btn btn-primary" id="update">Search</button>
								<button type="button" class="btn" id="clear">Show All</button>
							</div>
						</div>
					</div>
					<div class="accordion-group content-group" id="browser-section">
						<div class="accordion-heading">
							<a class="accordion-toggle content-toggle" data-toggle="collapse" href="#collapse-browser">
								<h4 class="content-header">Browser</h4>
							</a>
						</div>
						<div class="accordion-body collapse in" id="collapse-browser">
							<div class="content">
								<div class="tree" id="tree"></div>
								<div class="muted" id="status">Loading...</div>
							</div>
						</div>
					</div>
					<div class="accordion-group content-group" id="communities-section">
						<div class="accordion-heading">
							<a class="accordion-toggle content-toggle" data-toggle="collapse" href="#collapse-communities">
								<h4 class="content-header">Communities</h4>
							</a>
						</div>
						<div class="accordion-body collapse" id="collapse-communities">
							<div class="content">
								<div class="info muted">Select one or more communities to refine results.</div>
								<div class="filter"><select multiple="true" size="6" id="communities" class="fill-horizontal"></select></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span9 separator-left fill-vertical" id="right-pane">
				<div class="accordion" id="info-accordion">
					<div class="accordion-group content-group" id="service-info">
						<div class="accordion-heading">
							<a class="accordion-toggle content-toggle" data-toggle="collapse" href="#collapse-service-info">
								<h4 class="content-header">Service Information</h4>
							</a>
						</div>
						<div class="accordion-body collapse in" id="collapse-service-info">
							<div class="content">
								<table class="table table-bordered">
									<tr>
										<th>Service Name</th>
										<th>Addresses</th>
										<th>Geographic Location</th>
										<th>Communities</th>
										<th>Custom</th>
									</tr><tr>
										<td><div class="table-info" id="service-name"></div></td>
										<td><div class="table-info" id="service-locator"></div></td>
										<td><div class="table-info" id="service-location"></div></td>
										<td><div class="table-info" id="service-communities"></div></td>
										<td><div class="table-info" id="service-custom"></div></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="accordion-group content-group" id="host-info">
						<div class="accordion-heading">
							<a class="accordion-toggle content-toggle" data-toggle="collapse" href="#collapse-host-info">
								<h4 class="content-header">Host Information</h4>
							</a>
						</div>
						<div class="accordion-body collapse in" id="collapse-host-info">
							<div class="content">
								<table class="table table-bordered">
									<tr>
										<th>Host Name</th>
										<th>Hardware</th>
										<th>System Info</th>
										<th>Toolkit Version</th>
										<th>Communities</th>
									</tr><tr>
										<td><div class="table-info" id="host-name"></div></td>
										<td><div class="table-info" id="host-hardware"></div></td>
										<td><div class="table-info" id="host-os"></div></td>
										<td><div class="table-info" id="host-version"></div></td>
										<td><div class="table-info" id="host-communities"></div></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="accordion-group content-group" id="service-map">
						<div class="accordion-heading">
							<a class="accordion-toggle content-toggle" data-toggle="collapse" href="#collapse-map">
								<h4 class="content-header">Service Map</h4>
							</a>
						</div>
						<div class="accordion-body collapse in" id="collapse-map">
							<div class="content">
								<div class="map-canvas" id="map-canvas"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="text-filter-info" tabindex="-1" role="dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Text Filter</h4>
			</div>
			<div class="modal-body">
				The text filter further refines the result of the communities filter. It does a substring search across many data
				fields. Note that currently spaces etc have no special meaning, so for best results use a single term. Search is case insensitive.
				<br>
				Searched fields:
				<ul>
					<li>title ("Fermilab")</li>
					<li>location (City ("Berkeley"), State ("Minnesota"), Country ("Canada").</li>
					<li>host ("psonar3.fnal.gov")</li>
					<li>tool kit version ("3.3.1")</li>
					<li>NIC speed ("10G")</li>
					<li>community ("internet2")</li>
				</ui>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Done</button>
			</div>
		</div>
{% endblock %}
{% block assets_post %}
	<script type="text/javascript" src="{% static "js/jquery.ui.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.fancytree.js" %}"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM9EqM1k7MiJnslQpropqmvUbwXPhEI1U&sensor=false"></script>
	<script type="text/javascript" src="{% static "js/jquery.ui.map.js" %}"></script>
	<script type="text/javascript" src="{% static "servicesDirectory/js/utilities.js" %}"></script>
	<script type="text/javascript" src="{% static "servicesDirectory/js/records.js" %}"></script>
	<script type="text/javascript" src="{% static "servicesDirectory/js/filter.js" %}"></script>
	<script type="text/javascript" src="{% static "servicesDirectory/js/main.js" %}"></script>
{% endblock %}
