{% extends "servicesDirectory/base.html" %}

{% load staticfiles %}

{% block description %}Lookup Service Directory{% endblock %}

{% block title %}Lookup Service Directory{% endblock %}

{% block assets_pre %}
	<link rel="stylesheet" type="text/css" href="{% static "css/dynatree/skin-lion/ui.dynatree.css" %}">
	<style type="text/css">
		#browser { max-height: 100%; overflow: auto; }
		#info { max-height: 100%; overflow: auto; }
		.map-canvas label { width: auto; display: inline; }
		.map-canvas img { max-width: none; }
		.map-canvas { height: 600px; }
		.tree { height: 400px; }
		.table { margin-bottom: 0px; }
	</style>
{% endblock %}

{% block header %}<h3>perfSONAR Global Service and Data View</h3>{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="helpLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="helpLabel">Filter help</h4>
	  </div>
	  <div class="modal-body">

		<h5>Text Filter</h5>
		The text filter further refines the result of the communities filter. It does a substring search across many data
		fields. Note that currently spaces etc have no special meaning, so for best results use a single term. Search is case insensitive.

		Searched fields: 
		<ul>
			<li>title ("Fermilab")</li>
			<li>location (City ("Berkeley"), State ("Minnesota"), Country ("Canada").</li>
			<li>host ("psonar3.fnal.gov")</li>
			<li>tool kit version ("3.3.1")</li>
			<li>NIC speed ("10G")</li>
			<li>community ("internet2")</li>
		</ui>

	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

		<div class="row-fluid fill">
			<div class="span3 fill">
				<div id="browser">
					<h4 class="content-header">Browser</h4>
					<div class="content">
						<strong>Communities Filter:</strong>&nbsp;<br>
						<div class="info muted">Select one or more communities to refine results.</div>
						<div class="filter"><select multiple="true" size="6" id="communities" class="fill-width"></select></div>
						
						<strong>Text Filter:</strong>&nbsp;<br>
						<span class="info muted">Further refine results by text matching across multiple fields.</span>
						<span><button class="btn btn-default btn-lg simplebox" data-toggle="modal" data-target="#help">
						  <i class="icon-question-sign"></i>
						</button>
						</span><br>
						
						<span><input type="search" id="search"></span>
						<span><button class="btn btn-primary" id="update">Filter</button></span>
						
						<hr>
						<div id="info" class="muted">Loading...</div>
						<hr>
						<div class="tree" id="tree"></div>
					</div>
				</div>
			</div>
			<div class="span9 separator-left fill">
				<div class="accordion" id="info">
					<div class="accordion-group content-group" id="service-info">
						<div class="accordion-heading">
							<a class="accordion-toggle content-toggle" data-toggle="collapse" href="#collapseInfo1">
								<h4 class="content-header">Service Information</h4>
							</a>
						</div>
						<div class="accordion-body collapse in" id="collapseInfo1">
							<div class="content">
								<table class="table table-bordered">
									<tr>
										<th>Service Name</th>
										<th>Addresses</th>
										<th>Geographic Location</th>
										<th>Communities</th>
										<th>Example Command-Line</th>
									</tr><tr>
										<td id="service-name"></td>
										<td id="service-locator"></td>
										<td id="service-location"></td>
										<td id="service-communities"></td>
										<td id="service-command-line"></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="accordion-group content-group" id="host-info">
						<div class="accordion-heading">
							<a class="accordion-toggle content-toggle" data-toggle="collapse" href="#collapseInfo2">
								<h4 class="content-header">Host Information</h4>
							</a>
						</div>
						<div class="accordion-body collapse in" id="collapseInfo2">
							<div class="content">
								<table class="table table-bordered">
									<tr>
										<th>Host Name</th>
										<th>Hardware</th>
										<th>System Info</th>
										<th>Toolkit Version</th>
										<th>Communities</th>
									</tr><tr>
										<td id="host-name"></td>
										<td id="host-hardware"></td>
										<td id="host-os"></td>
										<td id="host-version"></td>
										<td id="host-communities"></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="accordion-group content-group" id="service-map">
						<div class="accordion-heading">
							<a class="accordion-toggle content-toggle" data-toggle="collapse" href="#collapseMap">
								<h4 class="content-header">Service Map</h4>
							</a>
						</div>
						<div class="accordion-body collapse in" id="collapseMap">
							<div class="content">
								<div class="map-canvas" sytle="height: 1000px" id="map-canvas"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
{% block assets_post %}
	<script type="text/javascript" src="{% static "js/jquery.ui.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.dynatree.js" %}"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM9EqM1k7MiJnslQpropqmvUbwXPhEI1U&sensor=false"></script>
	<script type="text/javascript" src="{% static "js/jquery.ui.map.js" %}"></script>
	<script type="text/javascript" src="{% static "servicesDirectory/js/main.js" %}"></script>
{% endblock %}
