include LICENSE
include README.rst
include lookup-service-webui.spec
recursive-include apache *
recursive-include cron *
recursive-include lib *
recursive-include lswebui *
recursive-include src *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
