*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	background-color: #eee;
	height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0px 0px 0px;
}
.page-header {
	background-color: #f5f5f5;
	border-style: none;
	height: 60px;
	margin: 0px 0px 0px;
	min-width: 1024px;
	padding: 5px 0px 5px;
	position: absolute;
	width: 100%;
}
.header-content {
	padding: 4px 4px 4px;
	margin: 0px 0px 0px;
}
.header-image {
	height: 48px;
	margin: 0px 0px 0px;
	padding: 4px 4px 4px;
}
.page-content {
	height: 100%;
	min-height: 576px;
	min-width: 1024px;
	padding: 68px 10px 8px;
}
.page-content-container {
	background-color: #fff;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	height: 100%;
	padding: 0px 20px 0px;
}
.content-header {
	border-bottom: 2px solid #eee;
	color: black;
	margin: 5px 0px 5px;
	padding: 5px 0px 5px;
}
.content {
	
}
.content-group {
	border: 0px !important;
	margin: 0px !important;
}
.content-toggle {
	padding: 0px 0px 0px !important;
}
.separator-left {
	border-left: 4px solid #eee;
	margin-left: 0;
	padding-left: 20px;
}
.fill {
	height: 100%;
}